:root {
    /*Variáveis das cores*/
    --cor1: #4b5563;
    --cor2: #d1d5db;
    --cor3: #2b7a2b;
    --cor4: #1e5c1e; 
    --cor5: #adb5bd;
    --cor6: #dc3545;
}


.form-label {
    font-size: 0.9rem;
    color: var(--cor1);
}

.form-control, .input-group-text {
    border-radius: 8px;
    border-color: var(--cor2);
}

.form-control:focus {
    box-shadow: none;
    border-color: var(--cor3);
}

.input-group:focus-within .input-group-text {
    border-color: var(--cor3);
}

.btn-grative {
    background-color: var(--cor3);
    color: white;
    border-radius: 8px;
    padding: 10px;
    font-weight: 500;
}

.btn-grative:hover {
    background-color: var(--cor4); 
    color: white;
}

.form-field-group:has(input:optional, textarea:optional, select:optional) .form-label::after {
    content: " (opcional)";
    color: var(--cor5);
    font-size: 0.8em;
    font-weight: normal;
    margin-left: 4px;
}

.form-field-group:has(input:required, textarea:required, select:required) .form-label::after {
    content: " *";
    color: var(--cor6);
    font-weight: bold;
}