@import "cores.css";

.botao_acao {
  background-color: #2e7d32;
  border: 1px solid #2e7d32;
  border-radius: 10px;
  padding: 10px;
  color: white;
  box-shadow: 1px 2px 4px rgba(1, 131, 35, 0.3);
  cursor: pointer;
}
