<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Grative - OSC</title>
</head>
<body>
    <header class="container-fluid d-flex align-items-center justify-content-between py-3 border-bottom">
        <select class="form-select form-select-sm w-auto fw-bold border-secondary-subtle text-secondary">
            <option value="1" selected>Janeiro</option>
            <option value="2">Fevereiro</option>
            <option value="3">Março</option>
            <option value="4">Abril</option>
            <option value="5">Maio</option>
            <option value="6">Junho</option>
            <option value="7">Julho</option>
            <option value="8">Agosto</option>
            <option value="9">Setembro</option>
            <option value="10">Outubro</option>
            <option value="11">Novembro</option>
            <option value="12">Dezembro</option>
        </select>
        <button class="btn btn-outline" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-perfil" aria-controls="offcanvas-perfil">
            <i class="bi bi-person-circle fs-3"></i> <!--!Adicionar foto de perfil da OSC no Sprint 2-->
        </button>
    </header>
    <main>

        <!--?Botões de atalho-->
        <section class="container-fluid mt-4">
            <h1>Atalhos</h1>
            <div class="bg-white rounded-4 shadow-sm p-4 d-flex align-items-center gap-4">
                <a href="/relatorio-doacoes" class="btn btn-outline p-4 rounded-3 d-flex flex-column align-items-center border-black shadow-sm">
                    <i class="bi bi-file-earmark-text-fill fs-3"></i>
                    Novo Relatório
                </a>
                <button type="button" class="btn btn-outline p-4 rounded-3 d-flex flex-column align-items-center border-black shadow-sm" data-bs-toggle="modal" data-bs-target="#modalPublicacao">
                    <i class="bi bi-megaphone-fill fs-3"></i>
                    Criar Publicação
                </button>
                <a href="feedOsc" class="btn btn-outline p-4 rounded-3 d-flex flex-column align-items-center border-black shadow-sm">
                    <i class="bi bi-grid-3x3-gap-fill fs-3"></i>
                    Minhas Publicações
                </a>
                <a href="/relatorio-doacoes" class="btn btn-outline p-4 rounded-3 d-flex flex-column align-items-center border-black shadow-sm">
                    <i class="bi bi-file-earmark-text-fill fs-3"></i>
                    Novo Relatório
                </a>
            </div>
        </section>

        <!--?Dashoboard-->
        <section class="container-fluid mt-5"> 
            <h1 class="mb-4">Dashboard</h1>
            <div class="row g-4">
                <div class="col-md-6">
                    <div style="height: 200px;" class="bg-body-secondary rounded-4"></div>
                </div>
                <div class="col-md-6">
                    <div style="height: 200px;" class="bg-body-secondary rounded-4"></div>
                </div>
                <div class="col-md-6">
                    <div style="height: 200px;" class="bg-body-secondary rounded-4"></div>
                </div>
                <div class="col-md-6">
                    <div style="height: 200px;" class="bg-body-secondary rounded-4"></div>
                </div>
            </div>
        </section>
    </main>

    <!--?OffCanvas (Barra lateral de editar e excluir o usuário)-->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas-perfil" aria-labelledby="offcanvas-perfil">
        <div class="offcanvas-header">
            <h2 class="offcanvas-title" id="offcanvas-perfil">Seu Perfil</h2>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-flex flex-column pt-0">
            <div class="text-center">
                <i style="font-size: 180px;" class="bi bi-person-circle lh-1"></i> <!--!Adicionar foto de perfil da Osc no sprint 2-->
            </div>
            <div>
                <button class="btn btn-outline-primary w-100 mt-3" id="btnEditarPerfil">Editar Perfil</button>
                <button class="btn btn-outline-danger w-100 mt-3" id="btnExcluirPerfil">Excluir Perfil</button>
            </div>
            <div class="mt-auto">
                <button onclick="window.location.href='/logout'" class="btn d-flex align-items-center gap-2">
                    <i class="bi bi-box-arrow-right fs-3"></i>
                    Sair da conta
                </button>
            </div>
        </div>
    </div>

    <!--?Modal de criar publicação-->
    <div class="modal fade" id="modalPublicacao" tabindex="-1" aria-labelledby="modalPublicacaoLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content rounded-4 border-0 shadow-lg">
                
                <div class="modal-header border-bottom-0 pb-0">
                    <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-body pt-0 px-4 pb-4">
                    <form id="formNovaPublicacao" enctype="multipart/form-data">
                        <div class="d-flex gap-3">
                            
                            <div>
                                <i class="bi bi-person-circle text-secondary" style="font-size: 48px; line-height: 1;"></i>
                            </div>
                            
                            <div class="w-100 mt-2">
                                
                                <input type="text" class="form-control border-0 shadow-none px-0 fs-5 fw-semibold text-dark" id="tituloProjeto" name="titulo" placeholder="Título da ação ou projeto" required>
                                
                                <textarea class="form-control border-0 shadow-none px-0 mt-1 fs-5" id="descricaoProjeto" name="descricao" rows="3" placeholder="O que a sua OSC realizou hoje?" style="resize: none;" required></textarea>
                                
                                <hr class="border-secondary-subtle my-3">
                                
                                <div class="d-flex justify-content-between align-items-center">
                                
                                    <div class="text-primary">
                                        <label for="imagemProjeto" class="mb-0" style="cursor: pointer;" title="Adicionar foto">
                                            <i class="bi bi-image fs-5"></i>
                                        </label>
                                        <input class="d-none" type="file" id="imagemProjeto" name="imagem" accept="image/png, image/jpeg, image/jpg">
                                    </div>
                                
                                    <button type="submit" class="btn btn-primary rounded-pill px-4 fw-bold" id="btnEnviarPublicacao">Publicar</button>
                                </div> 
                            </div>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>

    <div class="alert alert-success fade d-none position-fixed top-0 start-50 translate-middle-x z-3 mt-5 shadow-sm" id="alertaPublicacao">
        <p>Publicação Criada com sucesso!</p>
    </div>

    <script src="/js/homeOsc.js" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

    <!-- Modal de Comentário OSC -->
    <div class="modal fade" id="modalComentarioOsc" tabindex="-1" aria-labelledby="modalComentarioOscLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalComentarioOscLabel">Adicionar Comentário</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <textarea class="form-control" id="textoComentarioOsc" placeholder="Escreva seu comentário..." rows="4"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="enviarComentarioOsc()">Enviar</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>